@import '../../base/global';

input {
  font-weight: 400;
  width: 100%;
  color: $main-text-color;
  background: $input-bg-color;
  border: 1px solid $input-bg-color;
  padding: 10px 14px;
}

input:focus {
  outline: none;
}