@import "./base/global";
@import "./pages/home.scss";

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
}

body {
  font-family: "open_sansregular";
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: rgb(215, 114, 26);
}

h1 {
  font-size: 2.125rem;
  line-height: 0.8;
}

main {
  width: 100%;
}
