
$main-bg-color: #021c38;
$sidebar-bg-color: #011120;

// Text
$main-text-color: #fefeff;
$selected-text-color: #b1b3b4;
$error-text-color: #f54141;

// Buttons
$btn-primary-color: #f54141;

// input
$input-bg-color: #040b13;